<div class="t4s-product-sizes">
  <span>Sizes:</span>
  <span class="t4s-truncate t4s-d-block t4s-w-100">
    {% for size in size_variants %}
      <span {% unless size_variants_avai contains size %}class="t4s-product-sizes--sold-out"{% endunless %}>
        {% if list_size_pos == '2' %}
          <a href="{{ variants[forloop.index0].url }}" data-pr-href>
        {% endif %}
        {{ size }}
        {% if list_size_pos == '2' %}
          </a>
        {% endif %}
      </span>
    {% endfor %}
  </span>
</div>
